@model Tracky.Domain.Entities.Music.AlbumTrack

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AlbumTrack</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Album.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Album.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Song.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Song.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlbumTrackNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumTrackNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
